<div class="main-wrapper" role="main">

    <div class="sidenav-buttons">
        <h3>Sidenav's</h3>
        <input type="button" value="<= Angular Animations" (click)="angularAnimationsSidenavComponent.toggle()">
        <input type="button" value="Pure CSS Animations =>" (click)="pureCssAnimationsSidenavComponent.toggle()">
    </div>

</div>
<angular-animations-sidenav #angularAnimationsSidenavComponent></angular-animations-sidenav>
<pure-css-animations-sidenav #pureCssAnimationsSidenavComponent></pure-css-animations-sidenav>